.cart {
    width: 300px;
    background-color: #fff;
    color: #345;
    border-radius: 0.75rem;
    padding: 0.5rem 1.25rem;
}

.cart .total {
    color: #655c5c;
    font-size: 1.25rem;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnActions {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px
}

.btn {
    cursor: pointer;
    outline: none;
    border-radius: 0.25rem;
    padding: 0.35rem 0.8rem;
    transition: all 0.25s ease-in-out   ;
}

.close {
    transform: scale(0.8);
    border: 0.015rem solid #2f3736;
    color: #2f3736;
    background-color: transparent;
}
.close:hover{
    color: #fff;
    background-color: #2f3736;
}
.order {
    border: 0;
    font-weight: bold;
    background-color: brown;
    color: #fff;
}
.order:hover{
    background-color: transparent;
    border: 0.05rem solid brown;
    color: brown;
}