form {
    padding: 5px;
    width: 100px;
}

form>* {
    margin-bottom: 5px;
}

.form>*:last-child {
    margin-bottom: 0;
}
.form p{
    font-size: 0.6rem;
    color: crimson;
    font-family: cursive;
    font-style: italic;
    text-align: center;
}